.about {
  display: flex;
  flex-direction: column;
  margin: 100px 50px;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

.image,
.content {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2%;
}

.content {
  text-align: justify;
  line-height: 40px;
}

.visionMission {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.vision,
.mission {
  width: 100%;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.missionContentWrapper {
  background: #008800;
  width: 50%;
  padding: 20px 50px;
  color: #ffffff;
  min-height: 500px;
  border-radius: 0 100px 0 100px;
  box-shadow: 0 0 8px 0 #00000050;
}

.visionContentWrapper {
  background: #fbfbcb;
  width: 50%;
  padding: 20px 50px;
  color: #008800;
  min-height: 500px;
  border-radius: 0 100px 0 100px;
  box-shadow: 0 0 8px 0 #00000050;
}

.visionImage,
.missionImage {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-shadow: 0 0 8px 0 #00000050;
  min-height: 500px;
  border-radius: 100px 0 100px 0;
}

.visionContent {
  color: black;
}
