.content {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  margin: 0 50px;
  padding-top: 200px;
}

.content h1 {
  margin: 50px 0;
}

.joinButton {
  color: white !important;
  background-color: rgba(0, 128, 0, 0.74) !important;
  border-radius: 0 50px 0 50px !important;
  transition: all 300ms !important;
  padding: 20px !important;
  width: fit-content !important;
}

.joinButton:hover {
  background-color: rgba(0, 128, 0, 0.74) !important;
  border-radius: 0 !important;
}
