.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content h1 {
  margin: 50px 0;
}

.joinButton {
  color: white;
  background-color: rgba(0, 128, 0, 0.74);
  border-radius: 50px 0 50px 0;
  transition: all 300ms;
  padding: 25px;
}

.joinButton:hover {
  background-color: rgba(0, 128, 0, 0.74);
  border-radius: 0;
}
