.appBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  position: relative;
}

.logo {
  width: 35%;
  color: green;
  font-weight: bold;
  font-size: 1.2em;
  position: absolute;
  top: 35%;
}

.links {
  width: 70%;
  display: flex;
  justify-content: right;
  align-items: center;
  margin-left: 30%;
}

.navLinks {
  display: flex;
  width: 50%;
  justify-content: space-between;
  padding: 10px 0;
  margin: 50px 5%;
  font: inherit;
  font-size: inherit;
  position: relative;
}

.navLink,
.navLinkAbout {
  color: green;
  font-weight: 500;
  padding: 10px 20px;
  border-bottom: 2px solid transparent;
  text-transform: uppercase;
}

.navLink:hover {
  color: rgba(0, 128, 0, 0.616) !important;
  cursor: pointer;
}

.navLinkAbout:hover,
.navLinkAbout:focus {
  cursor: pointer;
}

.aboutLinks {
  position: absolute;
  color: white;
  background: green;
  font-weight: normal;
  top: 70%;
  display: none;
  z-index: 3;
  padding: 20px;
  border-radius: 0 50px 0 50px;
}

.aboutLinks:hover {
  border-radius: 0px;
}

.aboutLinks ul {
  list-style: none;
  margin: 0;
  padding: 0 10px;
}

.aboutLinks ul li {
  margin: 5px 0;
}

.aboutLinks ul li:hover {
  transform: translateX(5px);
  color: rgba(255, 255, 255, 0.747);
}

.navLinkAbout:hover .aboutLinks {
  display: block !important;
}

.contactButton {
  border-radius: 20px 0 20px 0 !important;
}

.contactButton:hover {
  border-radius: 0 !important;
}

.joinButton {
  color: white !important;
  background: rgba(0, 128, 0, 0.74) !important;
  border-radius: 0 20px 0 20px !important;
  transition: all 300ms !important;
  margin-left: 10px;
}

.joinButton:hover {
  border-radius: 0 !important;
  background: rgba(0, 128, 0, 0.74) !important;
}

.buttons {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: right;
}

.bars {
  display: none;
}

@media (max-width: 600px) {
  .toolBar div {
    display: none;
  }
}
