.appBar {
  display: flex;
  justify-content: right;
}

.navLinks {
  display: flex;
  /* width: 100%; */
  justify-content: space-between;
  padding: 10px 0;
  margin: 50px 20%;
  /* border-radius: 50px; */
  /* background: green; */
  font: inherit;
  font-size: inherit;
}

.navLink {
  color: green;
  padding: 10px 20px;
  border-radius: 20px;
}

.navLink:hover {
  color: green !important;
  cursor: pointer;
}

.bars {
  display: none;
}

@media (max-width: 600px) {
  .toolBar div {
    display: none;
  }
}
