.appBar {
  display: flex;
  justify-content: right;
}

.navLinks {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px 25%;
  font: inherit;
  font-size: inherit;
}

.navLink {
  color: black;
  padding: 20px;
  border-radius: 20px;
}

.navLink:hover {
  color: green !important;
  cursor: pointer;
}

.bars {
  display: none;
}

@media (max-width: 600px) {
  .toolBar div {
    display: none;
  }
}
