.partners {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2rem;
}

.sponsorsPoster {
  width: 100vw;
  height: 10vh;
}
